.verbGameHeader {
    display: flex;
    flex-direction: column;
     position: sticky;
     top:0;
     margin: 0;
     padding: 0;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    height: 6rem;
    background-color: #D1D1D1;
   
}
.verbGame {
    height: 100%;
    width: 100%;
}
.verbsGrid {
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 1fr;        
    text-align: center;
}
.verb {
    /* border:  1px solid rebeccapurple; */
    margin: 2px;
}
.oneVerb {
    display: flex;
    flex-direction: row;
}
.margin {
    margin: 10px
}

.tableVerbs {
    /* border: 1px solid black;         */
}
.tableOneVerb {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.fixed {
    border-top: 1px solid black;
    background-color: white;
}
.title {
    font-weight: bold;
    font-size: large;    
    background-color: white;
}
.subTitle {
    font-weight: bold;
    font-size: medium;

}
.inputVerb {    
    margin: 2px;
    flex-grow: 1;
    flex-basis: 100%;
    width: 150px;
}
.inputQuestionVerb {
    margin: 2px;
    flex-grow: 1;
    flex-basis: 100%;
    width: 150px;
}
.readOnly {
     border: 0px
}
.answer {
    width: 100px;
    min-width: 100px;
    text-align: left;
}

.ok {
    border: 1px solid green;
    
}
.ko {
    border: 1px solid red;
}

.buttons {
    margin-top: 20px;
}

.error {
    background-color: red;    
}
/* input[type=button] {
    padding: 10px;
    background-color: aqua;
} */